/* Styles for index.html */

:root {
  --primery-backround-color: #ffffff;
  --title-text-color: #2e2f42; /* NAVY BLUE */
  --hero-text-color: #ffffff;
  --link-text-active-color: #404bbf;
  --hero-backround-color: #2e2f42;
  --description-text-color: #434455;
  --footer-description-text-color: #e7e9fc;
  --adress-link-text-color: #434455;
  --btn-text-color: #ffffff;
  --btn-backroubd-color: #4d5ae5;
  --team-list-backround-color: #ffffff;
  --team-backround-color: #f4f4fd;
}

.body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--title-text-color);
  background-color: var(--primery-backround-color);
}
/* header */
.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .link {
  color: var(--adress-link-text-color); /* SLATE */
}

.link:hover,
.link:focus {
  color: var(--link-text-active-color);
}

/* hero */
.hero {
  background-color: var(--hero-backround-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
}

.hero-btn {
  color: var(--btn-text-color);
  background-color: var(--btn-backroubd-color);
}

/* sections */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color); /* NAVY BLUE */
}

/* section 1 */

.section-title.hidden {
  display: none;
}

/* features */

.features-list .title,
.portfolio-photo .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color); /* NAVY BLUE */
}

.description {
  font-size: 16px;
  line-height: 1.5; /* or 150% */
  letter-spacing: 0.02em;
}

.features .description,
.portfolio-photo .description {
  color: var(--description-text-color); /* SLATE */
}

/* section 2 */

/* section 3 */
.section.team {
  background-color: var(--team-backround-color);
}
.section .team-list {
  background-color: var(--team-list-backround-color);
}

/* footer */
.footer {
  background-color: var(--hero-backround-color);
}

.footer .logo {
  line-height: 1.16;
}

.footer .description {
  color: var(--footer-description-text-color); /* CORNFLOWER */
}

/* portfolio.html */

.portfolio-filters .btn-filters {
    background-color: #F4F4FD; /* CORNFLOWER */
    color: #4D5AE5;
    font-weight: 500; 
}

.portfolio-filters .btn-filters:hover,
.portfolio-filters .btn-filters:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}
.portfolio-photo .row-list {
    background-color: #FFFFFF;
}
